web/WEB-INF/wsdl/localhost_8080/cons_servidor/servicio_web_servidor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://pkg_servicio_web/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pkg_servicio_web/">

<xs:element name="buscar" type="tns:buscar"/>

<xs:element name="buscarResponse" type="tns:buscarResponse"/>

<xs:element name="buscartodoooo" type="tns:buscartodoooo"/>

<xs:element name="buscartodooooResponse" type="tns:buscartodooooResponse"/>

<xs:element name="eliminar" type="tns:eliminar"/>

<xs:element name="eliminarResponse" type="tns:eliminarResponse"/>

<xs:element name="getList" type="tns:getList"/>

<xs:element name="getListResponse" type="tns:getListResponse"/>

<xs:element name="getProyecto" type="tns:getProyecto"/>

<xs:element name="getProyectoResponse" type="tns:getProyectoResponse"/>

<xs:element name="insertar" type="tns:insertar"/>

<xs:element name="insertarResponse" type="tns:insertarResponse"/>

<xs:element name="modificar" type="tns:modificar"/>

<xs:element name="modificarResponse" type="tns:modificarResponse"/>

<xs:element name="setList" type="tns:setList"/>

<xs:element name="setListResponse" type="tns:setListResponse"/>

<xs:element name="setProyecto" type="tns:setProyecto"/>

<xs:element name="setProyectoResponse" type="tns:setProyectoResponse"/>

<xs:complexType name="proyecto">
<xs:sequence>
<xs:element name="dep_id" type="xs:string" minOccurs="0"/>
<xs:element name="lista" type="tns:proyecto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="listas" type="tns:proyecto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="lug_id" type="xs:string" minOccurs="0"/>
<xs:element name="pro_id" type="xs:string" minOccurs="0"/>
<xs:element name="pro_nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertar">
<xs:sequence>
<xs:element name="pro_id" type="xs:string" minOccurs="0"/>
<xs:element name="dep_id" type="xs:string" minOccurs="0"/>
<xs:element name="lug_id" type="xs:string" minOccurs="0"/>
<xs:element name="pro_nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscar">
<xs:sequence>
<xs:element name="pro_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminar">
<xs:sequence>
<xs:element name="pro_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscartodoooo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscartodooooResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getListResponse">
<xs:sequence>
<xs:element name="return" type="tns:proyecto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setProyecto">
<xs:sequence>
<xs:element name="arg0" type="tns:proyecto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setProyectoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="modificar">
<xs:sequence>
<xs:element name="pro_id" type="xs:string" minOccurs="0"/>
<xs:element name="dep_id" type="xs:string" minOccurs="0"/>
<xs:element name="lug_id" type="xs:string" minOccurs="0"/>
<xs:element name="pro_nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProyecto">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getProyectoResponse">
<xs:sequence>
<xs:element name="return" type="tns:proyecto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setList">
<xs:sequence>
<xs:element name="arg0" type="tns:proyecto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setListResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>