src/conf/xml-resources/web-service-references/servicioweb_servidor_ven/wsdl/localhost_8080/vent_servidor/servicioweb_servidor_ven.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pkg_servicio_web_vent/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pkg_servicio_web_vent/" name="servicioweb_servidor_ven">
<types>
<xsd:schema>
<xsd:import namespace="http://pkg_servicio_web_vent/" schemaLocation="http://localhost:8080/vent_servidor/servicioweb_servidor_ven?xsd=1"/>
</xsd:schema>
</types>
<message name="getList">
<part name="parameters" element="tns:getList"/>
</message>
<message name="getListResponse">
<part name="parameters" element="tns:getListResponse"/>
</message>
<message name="modificar">
<part name="parameters" element="tns:modificar"/>
</message>
<message name="modificarResponse">
<part name="parameters" element="tns:modificarResponse"/>
</message>
<message name="setList">
<part name="parameters" element="tns:setList"/>
</message>
<message name="setListResponse">
<part name="parameters" element="tns:setListResponse"/>
</message>
<message name="buscartodoooo">
<part name="parameters" element="tns:buscartodoooo"/>
</message>
<message name="buscartodooooResponse">
<part name="parameters" element="tns:buscartodooooResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<message name="buscar">
<part name="parameters" element="tns:buscar"/>
</message>
<message name="buscarResponse">
<part name="parameters" element="tns:buscarResponse"/>
</message>
<message name="insertar">
<part name="parameters" element="tns:insertar"/>
</message>
<message name="insertarResponse">
<part name="parameters" element="tns:insertarResponse"/>
</message>
<message name="setVenta">
<part name="parameters" element="tns:setVenta"/>
</message>
<message name="setVentaResponse">
<part name="parameters" element="tns:setVentaResponse"/>
</message>
<message name="getVenta">
<part name="parameters" element="tns:getVenta"/>
</message>
<message name="getVentaResponse">
<part name="parameters" element="tns:getVentaResponse"/>
</message>
<portType name="servicioweb_servidor_ven">
<operation name="getList">
<input wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/getListRequest" message="tns:getList"/>
<output wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/getListResponse" message="tns:getListResponse"/>
</operation>
<operation name="modificar">
<input wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/modificarRequest" message="tns:modificar"/>
<output wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/modificarResponse" message="tns:modificarResponse"/>
</operation>
<operation name="setList">
<input wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/setListRequest" message="tns:setList"/>
<output wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/setListResponse" message="tns:setListResponse"/>
</operation>
<operation name="buscartodoooo">
<input wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/buscartodooooRequest" message="tns:buscartodoooo"/>
<output wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/buscartodooooResponse" message="tns:buscartodooooResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
<operation name="buscar">
<input wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/buscarRequest" message="tns:buscar"/>
<output wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/buscarResponse" message="tns:buscarResponse"/>
</operation>
<operation name="insertar">
<input wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/insertarRequest" message="tns:insertar"/>
<output wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/insertarResponse" message="tns:insertarResponse"/>
</operation>
<operation name="setVenta">
<input wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/setVentaRequest" message="tns:setVenta"/>
<output wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/setVentaResponse" message="tns:setVentaResponse"/>
</operation>
<operation name="getVenta">
<input wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/getVentaRequest" message="tns:getVenta"/>
<output wsam:Action="http://pkg_servicio_web_vent/servicioweb_servidor_ven/getVentaResponse" message="tns:getVentaResponse"/>
</operation>
</portType>
<binding name="servicioweb_servidor_venPortBinding" type="tns:servicioweb_servidor_ven">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscartodoooo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicioweb_servidor_ven">
<port name="servicioweb_servidor_venPort" binding="tns:servicioweb_servidor_venPortBinding">
<soap:address location="http://localhost:8080/vent_servidor/servicioweb_servidor_ven"/>
</port>
</service>
</definitions>